<!DOCTYPE html>
<html lang="en">
<!--<form action = "{{ url_for('flights') }}" method="POST">
  <input type="text"  id="origin" name="ori" placeholder="Enter origin">
  <input type="text"  id="destination" name="dest" placeholder="destination">
  <input id="fdate"  type="date" name ="date" />
  <button type="submit" >search</button>-->

</form>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">  
    <link rel="stylesheet" href="static\styles\main.css"/>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <div class="opa container-fluid fbod" style="background-color:red;">
            <nav class="navbar navbar-light" style="background-color:red;">
                <div class="container-fluid">
                    <a class="navbar-brand text-light fbod tbod" href="#">ARS</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav tbod">
                      <li class="nav-item">
                        <a class="nav-link text-light" href="#">Book</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-light" href="#">My trips</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-light" href="#">Check-in</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-light" href="#">Flight status</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
        <div id="container-background">
              
            <form class="row g-3 content pb-5" action="{{ url_for('flights') }}" method="POST">
                <div class="col-md-6">
                    <label for="from-loc" class="form-label">From</label>
                    <input type="text"  class="form-control fbod" id="origin" name="ori" placeholder="Enter origin">

                  </div>
                  <div class="col-md-6">
                    <label for="to-loc" class="form-label">To</label>
                    <input type="text"  class="form-control fbod" id="destination" name="dest" placeholder="destination">
                  </div>
                  
                <div class="col-3">
                    <label for="pass" class="form-label">Passengers</label>
                    <select id="pass" class="form-select fbod">
                        <option selected value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="col-4">
                    <label for="typ" class="form-label">Meal Plan</label>
                    <select id="typ" class="form-select fbod">
                        <option selected value="1">Non-veg</option>
                        <option value="2">Veg</option>
                    </select>
                </div>
  
                <div class="col-5">
                  <label for="cla" class="form-label">Class</label>
                  <select id="cla" class="form-select fbod">
                    <option selected value="eco">Economy</option>
                    <option value="fis">First-class</option>
                    <option value="bus">Business</option>
                  </select>
                </div>

                <div class="col-6">
                    <label for="fdate" class="control-label">Date</label>
                    <input id="fdate" class="form-control fbod" type="date" name = "date" />
                </div>


                <div class="col-6"><br>
                  <button type="submit" class="btn btn-outline-success btn-md mt-1 fbod">Show flights</button>
                </div>
              </form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

        </div>


    
  <footer style="background-color:red;" class="opa lbod fixed-bottom">
    <div class="container">
      <div class="row text-white">
        <div class="col-lg-6 col-md-12 mb-4 ">
          <h5 class="mt-2 mb-3 tbod">About us</h5>
          <p>
            Dubakoor Team
          </p>
        </div>
        <div class="col-lg-3">
        </div>
        <div class="mt-2 col-lg-3 col-md-6 mb-4">
          <h5 class="text-white tbod">Links</h5>
          <ul class="list-unstyled mb-0 text-white">
            <li class="mb-1">
              <p href="#!" >Our team</p>
            </li>
            <li class="mb-1">
              <p href="#!">Contact us</p>
            </li>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="lbod text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2);">
      Copyright &copy; 2022 inovangala Frands
    </div>
  </footer>
</body>
</html>