
#container-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    background-position: center; 
    background-attachment: fixed;
  }
.opa{
    opacity: 0.8;
  }

  .tbod {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  }

  .fbod{
    border: 3px solid black; 
    
  }

  .lbod{
    border-top: 3px solid black;
  }

  .content {
    max-width: 700px;
    margin: auto;
    color: black;
    padding: 0px 100px 100px 100px;
    
  }
  .dataTables_wrapper .dataTables_paginate {
    float: right;
  }
  .dataTables_wrapper .dataTables_filter {
    float: right;
  }

  .dataTables_wrapper .dataTables_length {
    float: left;
  }

  .dataTables_wrapper .dataTables_info {
    float: left;
  }


  th:nth-last-child(2) {
    border :none;
    background-color: #ffffff;
  }

  td:last-child{
    border :none;
    background-color: #ffffff;
  }
  th:last-child{
    border :none;
    background-color: #ffffff;
  }

html, body{
  overflow-x: hidden;
}