
  .butn {
    display: inline-block;
  }

  .login .container { 
    height: 189px;
    width: 105%;
    position: relative;
    border: 3px solid black; 
  }
  
  .content {
    max-width: 700px;
    margin: auto;
    padding: 100px;
  }

  .opa{
    opacity: 0.8;
  }

  .tbod {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  }

  .transparent-input {
    background-color: rgba(0, 0, 0, 0);
 }
  .fbod{
    border: 3px solid black; 
  }

  .lbod{
    border-top: 3px solid black;
  }